<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5" data-controller="flavors--index">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
          <div class="w-full md:w-1/2">
            <%= search_form_for @q, url: manager_orders_path, method: 'get', class: 'flex' do |f| %>
              <div class="relative w-auto">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <%= f.date_field :date_eq, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: t('.search') %>
              </div>
              <button type="submit" class="bg-blue-700 text-white rounded-md px-3 py-2 ml-2 hover:bg-primary-600 focus:outline-none focus:ring focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-300">
                <svg aria-hidden="true" class="w-5 h-5 text-white dark:text-white" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                </svg>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("client") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("total") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("total_paid") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("change") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("payment_type") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("date") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("time") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("status") %></th>
              <th scope="col" class="px-4 py-3">Ações</th>
            </tr>
            </thead>
            <tbody>
            <%= render @orders %>
            </tbody>
          </table>
      </div>
    </div>
    <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
          <%= page_entries_info @orders %>
        </span>
      <%= paginate @orders, window: 1, outer_window: 1 %>
    </nav>
  </div>
</section>
