<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5" data-controller="flavors--index">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
      <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("client") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("total") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("total_paid") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("change") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("payment_type") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("date") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("time") %></th>
              <th scope="col" class="px-4 py-3"><%= Order.human_attribute_name("status") %></th>
              <th scope="col" class="px-4 py-3">Ações</th>
            </tr>
            </thead>
            <tbody>
            <%= render @orders %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>
