<%= render "shared/error_messages", resource: form.object %>

<div class="form-group">
  <%= form.label :name, class: "form-label" %>
  <%= form.text_field :name, class: "form-input" %>
</div>

<div class="form-group">
  <%= form.label :description, class: "form-label" %>
  <%= form.text_area :description, class: "form-input" %>
</div>

<div class="form-group">
  <%= form.label :long_description, class: "form-label" %>
  <%= form.text_area :long_description, class: "form-input" %>
</div>

<div class="form-group">
  <%= form.label :value, class: "form-label" %>
  <%= form.text_field :value, as: :decimal, placeholder: '', step: '0.01', class: 'form-input' %>
</div>

<div class="form-group">
  <%= form.label :category, class: "form-label" %>
  <%= form.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { prompt: "Selecione uma categoria" }, class: "form-select" %>
</div>

<div class="w-full mt-4">
  <% if @product.photo.attached? %>
    <div class="mb-3 w-1/3">
      <%= image_tag @product.photo, class: 'existing-image-class', alt: t('manager.products.shared.image_actual') %>
      <p><%= t('manager.products.shared.image_actual_message') %></p>
    </div>
  <% end %>
  <%= form.input :photo, as: :file, input_html: { class: 'form-input' } %>
  <% if @product.photo.attached? %>
    <div class="mt-2">
      <%= hidden_field_tag 'product[remove_photo]', '0' %>
      <%= check_box_tag 'product[remove_photo]', '1' %>
      <%= label_tag 'product_remove_photo', t('manager.products.shared.image_remove') %>
    </div>
  <% end %>
</div>
