<%= render "shared/error_messages", resource: form.object %>

<div class="form-group">
  <%= form.label :name, class: "form-label" %>
  <%= form.text_field :name, class: "form-input" %>
</div>

<div class="form-group">
  <%= form.label :value, class: "form-label" %>
  <%= form.text_field :value, as: :decimal, placeholder: '', step: '0.01', class: 'form-input' %>
</div>
