<li>
  <%= nav_link_to "Produtos", send("manager_products_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Adicionais", send("manager_extras_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Sabores", send("manager_flavors_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Pedidos", send("manager_orders_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Categorias", send("manager_categories_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Local de entregas", send("manager_delivery_locations_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Balconistas", send("manager_clerks_path"), class: "nav-link" %>
</li>
