<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5" data-controller="flavors--index">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        </div>
      </div>
      <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3"><%= Clerk.human_attribute_name("name") %></th>
              <th scope="col" class="px-4 py-3"><%= Clerk.human_attribute_name("document") %></th>
              <th scope="col" class="px-4 py-3"><%= Clerk.human_attribute_name("phone") %></th>
              <th scope="col" class="px-4 py-3"><%= Clerk.human_attribute_name("person") %></th>
              <th scope="col" class="px-4 py-3">Ações</th>
            </tr>
            </thead>
            <tbody>
            <%= render @clerks %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>
